@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

// Set your brand colors
$purple: red;
$pink: blue;
$brown: rgb(255, 255, 255);
$beige-light: green;
$beige-lighter: rgb(85, 81, 81);

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$navbar-item-color: $beige-lighter;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";