venv/
.vscode/
__pycache__/
user-agent.txt
tempCodeRunnerFile.py
scrape_data_planes.log
processing_planes.log
db_adding_planes.log
inserted_planes.log
planes.txt

# db thingys

planes_database.db
*.db-journal

# ui

static/mybulma/node_modules
static/mybulma/package-lock.json