@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    cursor: pointer;
}

body {
    background-color: white;
}

/* menu */

.sidebar {
    height: 100%;
    width: 236px;
    background-color: #be0b0b;
    color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 100px;
    font-size: xx-large;
    /* box-shadow: 10px 0px 40px 0px rgb(0, 0, 0); */
    /* -webkit-box-shadow: 10px 0px 40px 0px rgb(0, 0, 0); */
    /* -moz-box-shadow: 10px 0px 40px 0px rgb(0, 0, 0); */
    transition: ease 0.3s;
}

.sidebar__toggle {
    display: none;
    z-index: 1;
    color: white;
    font-size: xx-large;
    padding: 20px;
    position: fixed;
    cursor: pointer;
}

.sidebar > ul {
    margin-bottom: 50px;
}

.sidebar > h3 {
    margin-left: 10px;
}

.sidebar > ul > li {
    padding-left: 20px;
}

.sidebar > ul > li > a, .topbar > a {
    padding-left: 20px;
    color: white;
    text-decoration: none;
}

.sidebar--open {
    width: 200px !important;
    box-shadow: 10px 0px 40px 0px rgb(0, 0, 0) !important;
    -webkit-box-shadow: 10px 0px 40px 0px rgb(0, 0, 0) !important;
    -moz-box-shadow: 10px 0px 40px 0px rgb(0, 0, 0) !important;
}

/* main content */

.topbar, main, footer {
    margin-left: 230px;
}

.topbar {
    background-color: #74747488;
    padding: 20px;
    text-align: center;
    font-size: xx-large;
    color: white;
    font-weight: bolder;
}

body {
    background-color: #74747488;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px 10px 10px;
}

select {
    font-size: large;
    font-weight: bold;
    width: 16vw;
    height: 30px;
    border: none;
}

/* comparsion */

form {
    display: block;
}

.comparsion-table-empty > p {
    font-weight: bold;
}

.comparsion-choosers-wrapper {
    display: flex;
    padding-left: 16vw;
    margin-bottom: 20px;
}

.comparsion-table-wrapper {
    width: 80vw;
    display: flex;
    text-align: center;
}

.comparsion-table {
    font-size: large;
    display: block;
    width: 16vw;
}

.desc-p {
    border-right: 1px solid black;
}

.comparsion-p, .desc-p {
    padding: 10px;
    min-height: 25px;
}

.comparsion-p:nth-child(odd), .desc-p:nth-child(odd) {
    background: #888888e1;
}

.comparsion-p:nth-child(even), .desc-p:nth-child(even) {
    background: #808080;
}

.comparsion-divider {
    background-color: red;
}

.image-p {
    text-align: center;
    padding: 10px;
    min-height: 15vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.image-p > img {
    height: 14vh;
}

.name-p {
    height: 35px;
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
    border-bottom: 1px solid black;
}

.comparsion-p.take-off-weight-p::after {
    content: ' t';
}

.comparsion-p.burst-mass-p::after {
    content: ' kg/s';
}

.comparsion-p.km-h-p::after {
    content: ' km/h';
}

.comparsion-p.m-p::after {
    content: ' m';
}

.comparsion-p.s-p::after {
    content: ' s';
}

.comparsion-p.m-s-p::after {
    content: ' m/s';
}

.comparsion-p.sl-p::after {
    content: ' sl';
}

.modules-p {
    min-height: 300px;
}

.offensive-armament-p, .defensive-armament-p {
    min-height: 80px;
}

.sus-arm-p {
    min-height: 150px;
}

/* small screens */

@media only screen and (max-width: 700px) {
    .sidebar {
        width: 0px;
        font-size: x-large;
        box-shadow: none;
    }

    .sidebar__toggle {
        display: block;
    }

    .topbar, main, footer {
        margin-left: 0;
    }

    .comparsion-table {
        font-size: x-small;
    }

    .comparsion-p {
        padding: 1px;
        min-height: 40px;
    }

    .image-p > img {
        height: 5vh;
    }

    .image-p {
        text-align: center;
        padding: 10px;
        min-height: 15vh;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    
    .name-p {
        height: 35px;
        position: -webkit-sticky;
        position: sticky;
        top: 5vh;
        border-bottom: 1px solid black;
    }
}