<p class="image-p comparsion-p"></p>
<p class="name-p comparsion-p"></p>
<p class="tier-p comparsion-p"></p>
<p class="class-p comparsion-p"></p>
<p class="battle-rating-ab-p comparsion-p"></p>
<p class="battle-rating-rb-p comparsion-p"></p>
<p class="battle-rating-sb-p comparsion-p"></p>
<p class="crew-p comparsion-p"></p>
<p class="take-off-weight-p comparsion-p"></p>
<p class="burst-mass-p comparsion-p"></p>
<p class="no-engines-p comparsion-p"></p>
<p class="engine-type-p comparsion-p"></p>
<p class="engine-cooling-type-p comparsion-p"></p>
<p class="engine-name-p comparsion-p"></p>
<p class="comparsion-divider">aa</p>