{% extends "layout.html" %}
{% block content %}
<div class="comparsion-choosers-wrapper">
    <!-- TODO get rid of BR -->
    <form method="POST">
        {{ comparsion_form_1.csrf_token }}
        {{ comparsion_form_1.country(class="country-comparsion-chooser", id="country-comparsion-chooser-1") }} <br>
        {{ comparsion_form_1.plane(class="plane-comparsion-chooser", id="plane-comparsion-chooser-1") }}
    </form>    
    <form method="POST">
        {{ comparsion_form_2.csrf_token }}
        {{ comparsion_form_2.country(class="country-comparsion-chooser", id="country-comparsion-chooser-2") }} <br>
        {{ comparsion_form_2.plane(class="plane-comparsion-chooser", id="plane-comparsion-chooser-2") }}
    </form>
    <form method="POST">
        {{ comparsion_form_3.csrf_token }}
        {{ comparsion_form_3.country(class="country-comparsion-chooser", id="country-comparsion-chooser-3") }} <br>
        {{ comparsion_form_3.plane(class="plane-comparsion-chooser", id="plane-comparsion-chooser-3") }}
    </form>
    <form method="POST">
        {{ comparsion_form_4.csrf_token }}
        {{ comparsion_form_4.country(class="country-comparsion-chooser", id="country-comparsion-chooser-4") }} <br>
        {{ comparsion_form_4.plane(class="plane-comparsion-chooser", id="plane-comparsion-chooser-4") }}
    </form>
</div>
<div class="comparsion-table-wrapper">
    <div class="comparsion-table comparsion-table-empty">
        <p class="desc-p image-p comparsion-p">image</p>
        <p class="desc-p name-p comparsion-p">name</p>
        <p class="desc-p tier-p comparsion-p">tier</p>
        <p class="desc-p class-p comparsion-p">class</p>
        <p class="desc-p battle-rating-ab-p comparsion-p">battle rating (AB)</p>
        <p class="desc-p battle-rating-rb-p comparsion-p">battle rating (RB)</p>
        <p class="desc-p battle-rating-sb-p comparsion-p">battle rating (SB)</p>
        <p class="desc-p crew-p comparsion-p">crew</p>
        <p class="desc-p take-off-weight-p comparsion-p">take off weight</p>
        <p class="desc-p burst-mass-p comparsion-p">burst mass</p>
        <p class="desc-p no-engines-p comparsion-p">engines number</p>
        <p class="desc-p engine-type-p comparsion-p">engine type</p>
        <p class="desc-p engine-cooling-type-p comparsion-p">engine cooling</p>
        <p class="desc-p engine-name-p comparsion-p">engine name</p>
        <p class="desc-p is-premium-p comparsion-p">is premium</p>
        <p class="desc-p research-p comparsion-p">research</p>
        <p class="desc-p purchase-p comparsion-p">purchase</p>
        <p class="desc-p repair-min-ab-p comparsion-p">min. repair (AB)</p>
        <p class="desc-p repair-max-ab-p comparsion-p">max. repair (AB)</p>
        <p class="desc-p repair-min-rb-p comparsion-p">min. repair (RB)</p>
        <p class="desc-p repair-max-rb-p comparsion-p">max. repair (RB)</p>
        <p class="desc-p repair-min-sb-p comparsion-p">min. repair (SB)</p>
        <p class="desc-p repair-max-sb-p comparsion-p">max. repair (SB)</p>
        <p class="desc-p crew-training-p comparsion-p">crew training</p>
        <p class="desc-p experts-p comparsion-p">experts</p>
        <p class="desc-p aces-p comparsion-p">aces</p>
        <p class="desc-p reward-rp-p comparsion-p">RP reward</p>
        <p class="desc-p reward-sl-ab-p comparsion-p">SL reward (AB)</p>
        <p class="desc-p reward-sl-rb-p comparsion-p">SL reward (RB)</p>
        <p class="desc-p reward-sl-sb-p comparsion-p">SL reward (SB)</p>
        <p class="desc-p max-speed-stock-ab-p comparsion-p">max. speed stock (AB)</p>
        <p class="desc-p max-speed-upgraded-ab-p comparsion-p">max. speed upgraded (AB)</p>
        <p class="desc-p max-speed-stock-rb-p comparsion-p">max. speed stock (RB)</p>
        <p class="desc-p max-speed-upgraded-rb-p comparsion-p">max. speed upgraded (RB)</p>
        <p class="desc-p max-alt-p comparsion-p">max. altitude</p>
        <p class="desc-p turn-stock-ab-p comparsion-p">turn-time stock (AB)</p>
        <p class="desc-p turn-upgraded-ab-p comparsion-p">turn-time upgraded (AB)</p>
        <p class="desc-p turn-stock-rb-p comparsion-p">turn-time stock (RB)</p>
        <p class="desc-p turn-upgraded-rb-p comparsion-p">turn-time upgraded (RB)</p>
        <p class="desc-p roc-stock-ab-p comparsion-p">rate of climb stock (AB)</p>
        <p class="desc-p roc-upgraded-ab-p comparsion-p">rate of climb upgraded (AB)</p>
        <p class="desc-p roc-stock-rb-p comparsion-p">rate of climb stock (RB)</p>
        <p class="desc-p roc-upgraded-rb-p comparsion-p">rate of climb upgraded (RB)</p>
        <p class="desc-p take-off-run-p comparsion-p">take-off run</p>
        <p class="desc-p combat-flaps-p comparsion-p">combat flaps</p>
        <p class="desc-p take-off-flaps-p comparsion-p">take off flaps</p>
        <p class="desc-p landing-flaps-p comparsion-p">landing flaps</p>
        <p class="desc-p air-brakes-p comparsion-p">air brakes</p>
        <p class="desc-p arrestor-gear-p comparsion-p">arrestor gear</p>
        <p class="desc-p drogue-chute-p comparsion-p">drogue chute</p>
        <p class="desc-p radar-warning-receiver-p comparsion-p">RWR</p>
        <p class="desc-p ballistic-computer-p comparsion-p">ballistic computer</p>
        <p class="desc-p sod-structural-p comparsion-p">structural limit</p>
        <p class="desc-p sod-gear-p comparsion-p">gear limit</p>
        <p class="desc-p sod-combat-flaps-p comparsion-p">combat flaps limit</p>
        <p class="desc-p sod-takeoff-flaps-p comparsion-p">takeoff flaps limit</p>
        <p class="desc-p sod-landing-flaps-p comparsion-p">landing flaps limit</p>
        <p class="desc-p ailerons-p comparsion-p">ailerons</p>
        <p class="desc-p rudder-p comparsion-p">rudder</p>
        <p class="desc-p elevators-p comparsion-p">elevators</p>
        <p class="desc-p radiator-p comparsion-p">radiator</p>
        <p class="desc-p modules-p comparsion-p">modules</p>
        <p class="desc-p offensive-armament-p comparsion-p">offensive armament</p>
        <p class="desc-p defensive-armament-p comparsion-p">defensive armament</p>
        <p class="desc-p suspended-armament-p comparsion-p">suspended armament</p>
    </div>

    <div class="comparsion-table">
        {% include 'plane-comparsion-table-template-general.html' %}
    </div>
    <div class="comparsion-table">
        {% include 'plane-comparsion-table-template-general.html' %}
    </div>
    <div class="comparsion-table">
        {% include 'plane-comparsion-table-template-general.html' %}
    </div>
    <div class="comparsion-table">
        {% include 'plane-comparsion-table-template-general.html' %}
    </div>
</div>
{% endblock content %}