{% extends "layout.html" %}
{% block content %}
<div class="comparsion-choosers-wrapper">
    <!-- TODO get rid of BR -->
    <form method="POST">
        {{ comparsion_form_1.csrf_token }}
        {{ comparsion_form_1.country(class="country-comparsion-chooser", id="country-comparsion-chooser-1") }} <br>
        {{ comparsion_form_1.plane(class="plane-comparsion-chooser", id="plane-comparsion-chooser-1") }}
    </form>    
    <form method="POST">
        {{ comparsion_form_2.csrf_token }}
        {{ comparsion_form_2.country(class="country-comparsion-chooser", id="country-comparsion-chooser-2") }} <br>
        {{ comparsion_form_2.plane(class="plane-comparsion-chooser", id="plane-comparsion-chooser-2") }}
    </form>
    <form method="POST">
        {{ comparsion_form_3.csrf_token }}
        {{ comparsion_form_3.country(class="country-comparsion-chooser", id="country-comparsion-chooser-3") }} <br>
        {{ comparsion_form_3.plane(class="plane-comparsion-chooser", id="plane-comparsion-chooser-3") }}
    </form>
    <form method="POST">
        {{ comparsion_form_4.csrf_token }}
        {{ comparsion_form_4.country(class="country-comparsion-chooser", id="country-comparsion-chooser-4") }} <br>
        {{ comparsion_form_4.plane(class="plane-comparsion-chooser", id="plane-comparsion-chooser-4") }}
    </form>
</div>
<div class="comparsion-table-wrapper">
    <div class="comparsion-table comparsion-table-empty">
        <p class="image-p comparsion-p">image</p>
        <p class="name-p comparsion-p">name</p>
        <p class="tier-p comparsion-p">tier</p>
        <p class="class-p comparsion-p">class</p>
        <p class="battle-rating-p comparsion-p">battle rating (AB)</p>
        <p class="battle-rating-p comparsion-p">battle rating (RB)</p>
        <p class="battle-rating-p comparsion-p">battle rating (SB)</p>
    </div>
    <div class="comparsion-table">
        <p class="image-p comparsion-p"></p>
        <p class="name-p comparsion-p"></p>
        <p class="tier-p comparsion-p"></p>
        <p class="class-p comparsion-p"></p>
        <p class="battle-rating-p comparsion-p"></p>
        <p class="battle-rating-p comparsion-p"></p>
        <p class="battle-rating-p comparsion-p"></p>
    </div>
    <div class="comparsion-table">
        <p class="image-p comparsion-p"></p>
        <p class="name-p comparsion-p"></p>
        <p class="tier-p comparsion-p"></p>
        <p class="class-p comparsion-p"></p>
        <p class="battle-rating-p comparsion-p"></p>
        <p class="battle-rating-p comparsion-p"></p>
        <p class="battle-rating-p comparsion-p"></p>
    </div>
    <div class="comparsion-table">
        <p class="image-p comparsion-p"></p>
        <p class="name-p comparsion-p"></p>
        <p class="tier-p comparsion-p"></p>
        <p class="class-p comparsion-p"></p>
        <p class="battle-rating-p comparsion-p"></p>
        <p class="battle-rating-p comparsion-p"></p>
        <p class="battle-rating-p comparsion-p"></p>
    </div>
    <div class="comparsion-table">
        <p class="image-p comparsion-p"></p>
        <p class="name-p comparsion-p"></p>
        <p class="tier-p comparsion-p"></p>
        <p class="class-p comparsion-p"></p>
        <p class="battle-rating-p comparsion-p"></p>
        <p class="battle-rating-p comparsion-p"></p>
        <p class="battle-rating-p comparsion-p"></p>
    </div>
</div>
{% endblock content %}