{% extends "layout.html" %}
{% block content %}
<div class="comparsion-choosers-wrapper">
    <!-- TODO get rid of BR -->
    <form method="POST">
        {{ comparsion_form_1.csrf_token }}
        {{ comparsion_form_1.country(class="country-comparsion-chooser", id="country-comparsion-chooser-1") }} <br>
        {{ comparsion_form_1.plane(class="plane-comparsion-chooser", id="plane-comparsion-chooser-1") }}
    </form>    
    <form method="POST">
        {{ comparsion_form_2.csrf_token }}
        {{ comparsion_form_2.country(class="country-comparsion-chooser", id="country-comparsion-chooser-2") }} <br>
        {{ comparsion_form_2.plane(class="plane-comparsion-chooser", id="plane-comparsion-chooser-2") }}
    </form>
    <form method="POST">
        {{ comparsion_form_3.csrf_token }}
        {{ comparsion_form_3.country(class="country-comparsion-chooser", id="country-comparsion-chooser-3") }} <br>
        {{ comparsion_form_3.plane(class="plane-comparsion-chooser", id="plane-comparsion-chooser-3") }}
    </form>
    <form method="POST">
        {{ comparsion_form_4.csrf_token }}
        {{ comparsion_form_4.country(class="country-comparsion-chooser", id="country-comparsion-chooser-4") }} <br>
        {{ comparsion_form_4.plane(class="plane-comparsion-chooser", id="plane-comparsion-chooser-4") }}
    </form>
</div>
<div class="comparsion-table-wrapper">
    <div class="general-comparsion-table-wrapper">
        <p class="test">TEST</p>
        <table>
            <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
            </tr>
            <tr>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>
            <tr>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}