<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Compare War Thunder</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/css/styles.css'>
</head>
<body>
    <div class="sidebar" id="menu-sidebar">
        <h3>compare</h3>
        <ul>
            <li><a href="{{ url_for('compare_planes') }}">planes</a></li>
            <li><a href="{{ url_for('compare_tanks') }}">tanks</a></li>
            <li><a href="{{ url_for('compare_helicopters') }}">helicopters</a></li>
            <li><a href="{{ url_for('compare_fleet') }}">fleet</a></li>
        </ul>
        <h3>website</h3>
        <ul>
            <li><a href="{{ url_for('about') }}">about</a></li>
            <li><a href="{{ url_for('contact') }}">contact</a></li>
        </ul>
    </div>
    <div class="sidebar__toggle" id="menu-sidebar-toggle">&#9776;</div>
    <div class="topbar"><a href="{{ url_for('index') }}">COMPARE WT</a></div>
    <main>
        {% block content %}
        {% endblock %}    
    </main>
    <script src="static/js/scripts.js">
    </script>
</body>
</html>