<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>
        {% if title == None %}
            Compare War Thunder
        {% else %}
            {{ title }}
        {% endif %}
        </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/css/bulma-styles.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/css/styles.css'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<nav class="navbar is-spaced is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            COMPARE WAR THUNDER
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu-items">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbar-menu-items" class="navbar-menu">
        <div class="navbar-start">
            <a href="{{ url_for('index') }}" class="navbar-item">
                Home
            </a>
    
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Compare
                </a>
            
                <div class="navbar-dropdown">
                    <a href="{{ url_for('compare_planes') }}" class="navbar-item">
                        Planes
                    </a>
                </div>
            </div>

            <a href="{{ url_for('contact') }}" class="navbar-item">
                Contact
            </a>
            <a href="{{ url_for('about') }}" class="navbar-item">
                About
            </a>
    </div>
    
        <div class="navbar-end">
        </div>
    </div>
</nav>

<body>
    <div class="container">
        {% block content %}
        {% endblock content %}    
    </div>
    <script src="static/js/scripts.js">
    </script>
</body>

</html>