    <p class="divider">GENERAL INFORMATIONS</p>
    <table class="collapsible-table table" id="general-info-table">
    <tbody>
    <tr>
        <td class="has-text-centered"></td>
        <td class="has-text-centered image-p"></td>
        <td class="has-text-centered image-p"></td>
        <td class="has-text-centered image-p"></td>
        <td class="has-text-centered image-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">name</td>
        <td class="has-text-centered name-p"></td>
        <td class="has-text-centered name-p"></td>
        <td class="has-text-centered name-p"></td>
        <td class="has-text-centered name-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">tier</td>
        <td class="has-text-centered tier-p"></td>
        <td class="has-text-centered tier-p"></td>
        <td class="has-text-centered tier-p"></td>
        <td class="has-text-centered tier-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">class</td>
        <td class="has-text-centered class-p"></td>
        <td class="has-text-centered class-p"></td>
        <td class="has-text-centered class-p"></td>
        <td class="has-text-centered class-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">battle rating (AB)</td>
        <td class="has-text-centered battle-rating-ab-p"></td>
        <td class="has-text-centered battle-rating-ab-p"></td>
        <td class="has-text-centered battle-rating-ab-p"></td>
        <td class="has-text-centered battle-rating-ab-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">battle rating (RB)</td>
        <td class="has-text-centered battle-rating-rb-p"></td>
        <td class="has-text-centered battle-rating-rb-p"></td>
        <td class="has-text-centered battle-rating-rb-p"></td>
        <td class="has-text-centered battle-rating-rb-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">battle rating (SB)</td>
        <td class="has-text-centered battle-rating-sb-p"></td>
        <td class="has-text-centered battle-rating-sb-p"></td>
        <td class="has-text-centered battle-rating-sb-p"></td>
        <td class="has-text-centered battle-rating-sb-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">crew</td>
        <td class="has-text-centered crew-p"></td>
        <td class="has-text-centered crew-p"></td>
        <td class="has-text-centered crew-p"></td>
        <td class="has-text-centered crew-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">take-off weight</td>
        <td class="has-text-centered take-off-weight-p"></td>
        <td class="has-text-centered take-off-weight-p"></td>
        <td class="has-text-centered take-off-weight-p"></td>
        <td class="has-text-centered take-off-weight-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">burst mass</td>
        <td class="has-text-centered burst-mass-p"></td>
        <td class="has-text-centered burst-mass-p"></td>
        <td class="has-text-centered burst-mass-p"></td>
        <td class="has-text-centered burst-mass-p"></td>
    </tr>
    </tbody>
    </table>
    <p class="divider">ARMAMENT</p>
    <table class="collapsible-table" id="armament-info-table">
    <tr>
        <td class="has-text-centered">offensive</td>
        <td class="has-text-centered offensive-armament-p"></td>
        <td class="has-text-centered offensive-armament-p"></td>
        <td class="has-text-centered offensive-armament-p"></td>
        <td class="has-text-centered offensive-armament-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">defensive</td>
        <td class="has-text-centered defensive-armament-p"></td>
        <td class="has-text-centered defensive-armament-p"></td>
        <td class="has-text-centered defensive-armament-p"></td>
        <td class="has-text-centered defensive-armament-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">suspended</td>
        <td class="has-text-centered suspended-armament-p"></td>
        <td class="has-text-centered suspended-armament-p"></td>
        <td class="has-text-centered suspended-armament-p"></td>
        <td class="has-text-centered suspended-armament-p"></td>
    </tr>
    </table>
    <p class="divider">ECONOMY</p>
    <table class="collapsible-table" id="economy-info-table">
    <tbody>
        <tr>
            <td class="has-text-centered">is premium</td>
            <td class="has-text-centered is-premium-p"></td>
            <td class="has-text-centered is-premium-p"></td>
            <td class="has-text-centered is-premium-p"></td>
            <td class="has-text-centered is-premium-p"></td>
        </tr>
        <tr>
            <td class="has-text-centered">research</td>
            <td class="has-text-centered research-p"></td>
            <td class="has-text-centered research-p"></td>
            <td class="has-text-centered research-p"></td>
            <td class="has-text-centered research-p"></td>
        </tr>
        <tr>
            <td class="has-text-centered">purchase</td>
            <td class="has-text-centered purchase-p"></td>
            <td class="has-text-centered purchase-p"></td>
            <td class="has-text-centered purchase-p"></td>
            <td class="has-text-centered purchase-p"></td>
        </tr>
        <tr>
            <td class="has-text-centered">crew training</td>
            <td class="has-text-centered crew-training-p"></td>
            <td class="has-text-centered crew-training-p"></td>
            <td class="has-text-centered crew-training-p"></td>
            <td class="has-text-centered crew-training-p"></td>
        </tr>
        <tr>
            <td class="has-text-centered">experts</td>
            <td class="has-text-centered experts-p"></td>
            <td class="has-text-centered experts-p"></td>
            <td class="has-text-centered experts-p"></td>
            <td class="has-text-centered experts-p"></td>
        </tr>
        <tr>
            <td class="has-text-centered">aces</td>
            <td class="has-text-centered aces-p"></td>
            <td class="has-text-centered aces-p"></td>
            <td class="has-text-centered aces-p"></td>
            <td class="has-text-centered aces-p"></td>
        </tr>
        <tr>
            <td class="has-text-centered">RP reward</td>
            <td class="has-text-centered reward-rp-p"></td>
            <td class="has-text-centered reward-rp-p"></td>
            <td class="has-text-centered reward-rp-p"></td>
            <td class="has-text-centered reward-rp-p"></td>
        </tr>
        <tr>
            <td class="has-text-centered">SL reward (AB)</td>
            <td class="has-text-centered reward-sl-ab-p"></td>
            <td class="has-text-centered reward-sl-ab-p"></td>
            <td class="has-text-centered reward-sl-ab-p"></td>
            <td class="has-text-centered reward-sl-ab-p"></td>
        </tr>
        <tr>
            <td class="has-text-centered">SL reward (RB)</td>
            <td class="has-text-centered reward-sl-rb-p"></td>
            <td class="has-text-centered reward-sl-rb-p"></td>
            <td class="has-text-centered reward-sl-rb-p"></td>
            <td class="has-text-centered reward-sl-rb-p"></td>
        </tr>
        <tr>
            <td class="has-text-centered">SL reward (SB)</td>
            <td class="has-text-centered reward-sl-sb-p"></td>
            <td class="has-text-centered reward-sl-sb-p"></td>
            <td class="has-text-centered reward-sl-sb-p"></td>
            <td class="has-text-centered reward-sl-sb-p"></td>
        </tr>
        <tr>
            <td colspan="5" class="has-text-centered">REPAIRS</td>
        </tr>
        <tr>
            <td class="has-text-centered">minimal cost (AB)</td>
            <td class="has-text-centered repair-min-ab-p"></td>
            <td class="has-text-centered repair-min-ab-p"></td>
            <td class="has-text-centered repair-min-ab-p"></td>
            <td class="has-text-centered repair-min-ab-p"></td>
        </tr>
        <tr>
            <td class="has-text-centered">maximal cost (AB)</td>
            <td class="has-text-centered repair-max-ab-p"></td>
            <td class="has-text-centered repair-max-ab-p"></td>
            <td class="has-text-centered repair-max-ab-p"></td>
            <td class="has-text-centered repair-max-ab-p"></td>
        </tr>
        <tr>
            <td class="has-text-centered">minimal cost (RB)</td>
            <td class="has-text-centered repair-min-rb-p"></td>
            <td class="has-text-centered repair-min-rb-p"></td>
            <td class="has-text-centered repair-min-rb-p"></td>
            <td class="has-text-centered repair-min-rb-p"></td>
        </tr>
        <tr>
            <td class="has-text-centered">maximal cost (RB)</td>
            <td class="has-text-centered repair-max-rb-p"></td>
            <td class="has-text-centered repair-max-rb-p"></td>
            <td class="has-text-centered repair-max-rb-p"></td>
            <td class="has-text-centered repair-max-rb-p"></td>
        </tr>
        <tr>
            <td class="has-text-centered">minimal cost (SB)</td>
            <td class="has-text-centered repair-min-sb-p"></td>
            <td class="has-text-centered repair-min-sb-p"></td>
            <td class="has-text-centered repair-min-sb-p"></td>
            <td class="has-text-centered repair-min-sb-p"></td>
        </tr>        
        <tr>
            <td class="has-text-centered">maximal cost (SB)</td>
            <td class="has-text-centered repair-max-sb-p"></td>
            <td class="has-text-centered repair-max-sb-p"></td>
            <td class="has-text-centered repair-max-sb-p"></td>
            <td class="has-text-centered repair-max-sb-p"></td>
        </tr>
    </table>
    <p class="divider">FLIGHT CHARACTERISTICS</p>
    <table class="collapsible-table" id="flight-characteristics-table">
    <tr>
        <td class="has-text-centered">engine</td>
        <td class="has-text-centered engine-p"></td>
        <td class="has-text-centered engine-p"></td>
        <td class="has-text-centered engine-p"></td>
        <td class="has-text-centered engine-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">base power</td>
        <td class="has-text-centered engine-base-power-p"></td>
        <td class="has-text-centered engine-base-power-p"></td>
        <td class="has-text-centered engine-base-power-p"></td>
        <td class="has-text-centered engine-base-power-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">WEP power</td>
        <td class="has-text-centered engine-wep-power-p"></td>
        <td class="has-text-centered engine-wep-power-p"></td>
        <td class="has-text-centered engine-wep-power-p"></td>
        <td class="has-text-centered engine-wep-power-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">maximal speed (stock) (AB)</td>
        <td class="has-text-centered max-speed-stock-ab-p"></td>
        <td class="has-text-centered max-speed-stock-ab-p"></td>
        <td class="has-text-centered max-speed-stock-ab-p"></td>
        <td class="has-text-centered max-speed-stock-ab-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">maximal speed (upgraded) (AB)</td>
        <td class="has-text-centered max-speed-upgraded-ab-p"></td>
        <td class="has-text-centered max-speed-upgraded-ab-p"></td>
        <td class="has-text-centered max-speed-upgraded-ab-p"></td>
        <td class="has-text-centered max-speed-upgraded-ab-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">maximal speed (stock) (RB)</td>
        <td class="has-text-centered max-speed-stock-rb-p"></td>
        <td class="has-text-centered max-speed-stock-rb-p"></td>
        <td class="has-text-centered max-speed-stock-rb-p"></td>
        <td class="has-text-centered max-speed-stock-rb-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">maximal speed (upgraded) (RB)</td>
        <td class="has-text-centered max-speed-upgraded-rb-p"></td>
        <td class="has-text-centered max-speed-upgraded-rb-p"></td>
        <td class="has-text-centered max-speed-upgraded-rb-p"></td>
        <td class="has-text-centered max-speed-upgraded-rb-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">maximal altitude</td>
        <td class="has-text-centered max-alt-p"></td>
        <td class="has-text-centered max-alt-p"></td>
        <td class="has-text-centered max-alt-p"></td>
        <td class="has-text-centered max-alt-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">turn time (stock) (AB)</td>
        <td class="has-text-centered turn-stock-ab-p"></td>
        <td class="has-text-centered turn-stock-ab-p"></td>
        <td class="has-text-centered turn-stock-ab-p"></td>
        <td class="has-text-centered turn-stock-ab-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">turn time (upgraded) (AB)</td>
        <td class="has-text-centered turn-upgraded-ab-p"></td>
        <td class="has-text-centered turn-upgraded-ab-p"></td>
        <td class="has-text-centered turn-upgraded-ab-p"></td>
        <td class="has-text-centered turn-upgraded-ab-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">turn time (stock) (RB)</td>
        <td class="has-text-centered turn-stock-rb-p"></td>
        <td class="has-text-centered turn-stock-rb-p"></td>
        <td class="has-text-centered turn-stock-rb-p"></td>
        <td class="has-text-centered turn-stock-rb-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">turn time (upgraded) (RB)</td>
        <td class="has-text-centered turn-upgraded-rb-p"></td>
        <td class="has-text-centered turn-upgraded-rb-p"></td>
        <td class="has-text-centered turn-upgraded-rb-p"></td>
        <td class="has-text-centered turn-upgraded-rb-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">rate of climb (stock) (AB)</td>
        <td class="has-text-centered roc-stock-ab-p"></td>
        <td class="has-text-centered roc-stock-ab-p"></td>
        <td class="has-text-centered roc-stock-ab-p"></td>
        <td class="has-text-centered roc-stock-ab-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">rate of climb (upgraded) (AB)</td>
        <td class="has-text-centered roc-upgraded-ab-p"></td>
        <td class="has-text-centered roc-upgraded-ab-p"></td>
        <td class="has-text-centered roc-upgraded-ab-p"></td>
        <td class="has-text-centered roc-upgraded-ab-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">rate of climb (stock) (RB)</td>
        <td class="has-text-centered roc-stock-rb-p"></td>
        <td class="has-text-centered roc-stock-rb-p"></td>
        <td class="has-text-centered roc-stock-rb-p"></td>
        <td class="has-text-centered roc-stock-rb-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">rate of climb (upgraded) (RB)</td>
        <td class="has-text-centered roc-upgraded-rb-p"></td>
        <td class="has-text-centered roc-upgraded-rb-p"></td>
        <td class="has-text-centered roc-upgraded-rb-p"></td>
        <td class="has-text-centered roc-upgraded-rb-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">take-off run</td>
        <td class="has-text-centered take-off-run-p"></td>
        <td class="has-text-centered take-off-run-p"></td>
        <td class="has-text-centered take-off-run-p"></td>
        <td class="has-text-centered take-off-run-p"></td>
    </tr>
    </table>
  
    <p class="divider">FEATURES</p>
    <table class="collapsible-table" id="features-info-table">
    <tr>
        <td class="has-text-centered">combat flaps</td>
        <td class="has-text-centered combat-flaps-p"></td>
        <td class="has-text-centered combat-flaps-p"></td>
        <td class="has-text-centered combat-flaps-p"></td>
        <td class="has-text-centered combat-flaps-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">take-off flaps</td>
        <td class="has-text-centered take-off-flaps-p"></td>
        <td class="has-text-centered take-off-flaps-p"></td>
        <td class="has-text-centered take-off-flaps-p"></td>
        <td class="has-text-centered take-off-flaps-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">landing flaps</td>
        <td class="has-text-centered landing-flaps-p"></td>
        <td class="has-text-centered landing-flaps-p"></td>
        <td class="has-text-centered landing-flaps-p"></td>
        <td class="has-text-centered landing-flaps-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">modules</td>
        <td class="has-text-centered modules-p"></td>
        <td class="has-text-centered modules-p"></td>
        <td class="has-text-centered modules-p"></td>
        <td class="has-text-centered modules-p"></td>
    </tr>
    </table>

    <p class="divider">SPEED OF DESTRUCTION</p>
    <table class="collapsible-table" id="sod-info-table">
    <tr>
        <td class="has-text-centered">structural</td>
        <td class="has-text-centered sod-structural-p"></td>
        <td class="has-text-centered sod-structural-p"></td>
        <td class="has-text-centered sod-structural-p"></td>
        <td class="has-text-centered sod-structural-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">gear</td>
        <td class="has-text-centered sod-gear-p"></td>
        <td class="has-text-centered sod-gear-p"></td>
        <td class="has-text-centered sod-gear-p"></td>
        <td class="has-text-centered sod-gear-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">combat flaps</td>
        <td class="has-text-centered sod-combat-flaps-p"></td>
        <td class="has-text-centered sod-combat-flaps-p"></td>
        <td class="has-text-centered sod-combat-flaps-p"></td>
        <td class="has-text-centered sod-combat-flaps-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">take-off flaps</td>
        <td class="has-text-centered sod-takeoff-flaps-p"></td>
        <td class="has-text-centered sod-takeoff-flaps-p"></td>
        <td class="has-text-centered sod-takeoff-flaps-p"></td>
        <td class="has-text-centered sod-takeoff-flaps-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">landing flaps</td>
        <td class="has-text-centered sod-landing-flaps-p"></td>
        <td class="has-text-centered sod-landing-flaps-p"></td>
        <td class="has-text-centered sod-landing-flaps-p"></td>
        <td class="has-text-centered sod-landing-flaps-p"></td>
    </tr>
    </table>
    <p class="divider">OPTIMAL VELOCITIES</p>
    <table class="collapsible-table" id="ov-info-table">
    <tr>
        <td class="has-text-centered">ailerons</td>
        <td class="has-text-centered ailerons-p"></td>
        <td class="has-text-centered ailerons-p"></td>
        <td class="has-text-centered ailerons-p"></td>
        <td class="has-text-centered ailerons-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">rudder</td>
        <td class="has-text-centered rudder-p"></td>
        <td class="has-text-centered rudder-p"></td>
        <td class="has-text-centered rudder-p"></td>
        <td class="has-text-centered rudder-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">elevators</td>
        <td class="has-text-centered elevators-p"></td>
        <td class="has-text-centered elevators-p"></td>
        <td class="has-text-centered elevators-p"></td>
        <td class="has-text-centered elevators-p"></td>
    </tr>
    <tr>
        <td class="has-text-centered">radiator</td>
        <td class="has-text-centered radiator-p"></td>
        <td class="has-text-centered radiator-p"></td>
        <td class="has-text-centered radiator-p"></td>
        <td class="has-text-centered radiator-p"></td>
    </tr>
    </table>