<div class="comparsion-section-wrapper">
    <p class="divider">GENERAL INFORMATIONS</p>
    <table class="collapsible-table" id="general-info-table">
    <tbody>
    <tr>
        <td></td>
        <td class="image-p"></td>
        <td class="image-p"></td>
        <td class="image-p"></td>
        <td class="image-p"></td>
    </tr>
    <tr>
        <td>name</td>
        <td class="name-p"></td>
        <td class="name-p"></td>
        <td class="name-p"></td>
        <td class="name-p"></td>
    </tr>
    <tr>
        <td>tier</td>
        <td class="tier-p"></td>
        <td class="tier-p"></td>
        <td class="tier-p"></td>
        <td class="tier-p"></td>
    </tr>
    <tr>
        <td>class</td>
        <td class="class-p"></td>
        <td class="class-p"></td>
        <td class="class-p"></td>
        <td class="class-p"></td>
    </tr>
    <tr>
        <td>battle rating (AB)</td>
        <td class="battle-rating-ab-p"></td>
        <td class="battle-rating-ab-p"></td>
        <td class="battle-rating-ab-p"></td>
        <td class="battle-rating-ab-p"></td>
    </tr>
    <tr>
        <td>battle rating (RB)</td>
        <td class="battle-rating-rb-p"></td>
        <td class="battle-rating-rb-p"></td>
        <td class="battle-rating-rb-p"></td>
        <td class="battle-rating-rb-p"></td>
    </tr>
    <tr>
        <td>battle rating (SB)</td>
        <td class="battle-rating-sb-p"></td>
        <td class="battle-rating-sb-p"></td>
        <td class="battle-rating-sb-p"></td>
        <td class="battle-rating-sb-p"></td>
    </tr>
    <tr>
        <td>crew</td>
        <td class="crew-p"></td>
        <td class="crew-p"></td>
        <td class="crew-p"></td>
        <td class="crew-p"></td>
    </tr>
    <tr>
        <td>take-off weight</td>
        <td class="take-off-weight-p"></td>
        <td class="take-off-weight-p"></td>
        <td class="take-off-weight-p"></td>
        <td class="take-off-weight-p"></td>
    </tr>
    <tr>
        <td>burst mass</td>
        <td class="burst-mass-p"></td>
        <td class="burst-mass-p"></td>
        <td class="burst-mass-p"></td>
        <td class="burst-mass-p"></td>
    </tr>
    </tbody>
    </table>
</div>
<div class="comparsion-section-wrapper">
    <p class="divider">ARMAMENT</p>
    <table class="collapsible-table" id="armament-info-table">
    <tr>
        <td>offensive</td>
        <td class="offensive-armament-p"></td>
        <td class="offensive-armament-p"></td>
        <td class="offensive-armament-p"></td>
        <td class="offensive-armament-p"></td>
    </tr>
    <tr>
        <td>defensive</td>
        <td class="defensive-armament-p"></td>
        <td class="defensive-armament-p"></td>
        <td class="defensive-armament-p"></td>
        <td class="defensive-armament-p"></td>
    </tr>
    <tr>
        <td>suspended</td>
        <td class="suspended-armament-p"></td>
        <td class="suspended-armament-p"></td>
        <td class="suspended-armament-p"></td>
        <td class="suspended-armament-p"></td>
    </tr>
    </table>
</div>
<div class="comparsion-section-wrapper">
    <p class="divider">ECONOMY</p>
    <table class="collapsible-table" id="economy-info-table">
    <tbody>
        <tr>
            <td>is premium</td>
            <td class="is-premium-p"></td>
            <td class="is-premium-p"></td>
            <td class="is-premium-p"></td>
            <td class="is-premium-p"></td>
        </tr>
        <tr>
            <td>research</td>
            <td class="research-p"></td>
            <td class="research-p"></td>
            <td class="research-p"></td>
            <td class="research-p"></td>
        </tr>
        <tr>
            <td>purchase</td>
            <td class="purchase-p"></td>
            <td class="purchase-p"></td>
            <td class="purchase-p"></td>
            <td class="purchase-p"></td>
        </tr>
        <tr>
            <td>crew training</td>
            <td class="crew-training-p"></td>
            <td class="crew-training-p"></td>
            <td class="crew-training-p"></td>
            <td class="crew-training-p"></td>
        </tr>
        <tr>
            <td>experts</td>
            <td class="experts-p"></td>
            <td class="experts-p"></td>
            <td class="experts-p"></td>
            <td class="experts-p"></td>
        </tr>
        <tr>
            <td>aces</td>
            <td class="aces-p"></td>
            <td class="aces-p"></td>
            <td class="aces-p"></td>
            <td class="aces-p"></td>
        </tr>
        <tr>
            <td>RP reward</td>
            <td class="reward-rp-p"></td>
            <td class="reward-rp-p"></td>
            <td class="reward-rp-p"></td>
            <td class="reward-rp-p"></td>
        </tr>
        <tr>
            <td>SL reward (AB)</td>
            <td class="reward-sl-ab-p"></td>
            <td class="reward-sl-ab-p"></td>
            <td class="reward-sl-ab-p"></td>
            <td class="reward-sl-ab-p"></td>
        </tr>
        <tr>
            <td>SL reward (RB)</td>
            <td class="reward-sl-rb-p"></td>
            <td class="reward-sl-rb-p"></td>
            <td class="reward-sl-rb-p"></td>
            <td class="reward-sl-rb-p"></td>
        </tr>
        <tr>
            <td>SL reward (SB)</td>
            <td class="reward-sl-sb-p"></td>
            <td class="reward-sl-sb-p"></td>
            <td class="reward-sl-sb-p"></td>
            <td class="reward-sl-sb-p"></td>
        </tr>
        <tr>
            <td colspan="5">REPAIRS</td>
        </tr>
        <tr>
            <td>minimal cost (AB)</td>
            <td class="repair-min-ab-p"></td>
            <td class="repair-min-ab-p"></td>
            <td class="repair-min-ab-p"></td>
            <td class="repair-min-ab-p"></td>
        </tr>
        <tr>
            <td>maximal cost (AB)</td>
            <td class="repair-max-ab-p"></td>
            <td class="repair-max-ab-p"></td>
            <td class="repair-max-ab-p"></td>
            <td class="repair-max-ab-p"></td>
        </tr>
        <tr>
            <td>minimal cost (RB)</td>
            <td class="repair-min-rb-p"></td>
            <td class="repair-min-rb-p"></td>
            <td class="repair-min-rb-p"></td>
            <td class="repair-min-rb-p"></td>
        </tr>
        <tr>
            <td>maximal cost (RB)</td>
            <td class="repair-max-rb-p"></td>
            <td class="repair-max-rb-p"></td>
            <td class="repair-max-rb-p"></td>
            <td class="repair-max-rb-p"></td>
        </tr>
        <tr>
            <td>minimal cost (SB)</td>
            <td class="repair-min-sb-p"></td>
            <td class="repair-min-sb-p"></td>
            <td class="repair-min-sb-p"></td>
            <td class="repair-min-sb-p"></td>
        </tr>        
        <tr>
            <td>maximal cost (SB)</td>
            <td class="repair-max-sb-p"></td>
            <td class="repair-max-sb-p"></td>
            <td class="repair-max-sb-p"></td>
            <td class="repair-max-sb-p"></td>
        </tr>
    </table>
</div>
<div class="comparsion-section-wrapper">
    <p class="divider">FLIGHT CHARACTERISTICS</p>
    <table class="collapsible-table" id="flight-characteristics-table">
    <tr>
        <td>engine</td>
        <td class="engine-p"></td>
        <td class="engine-p"></td>
        <td class="engine-p"></td>
        <td class="engine-p"></td>
    </tr>
    <tr>
        <td>maximal speed (stock) (AB)</td>
        <td class="max-speed-stock-ab-p"></td>
        <td class="max-speed-stock-ab-p"></td>
        <td class="max-speed-stock-ab-p"></td>
        <td class="max-speed-stock-ab-p"></td>
    </tr>
    <tr>
        <td>maximal speed (upgraded) (AB)</td>
        <td class="max-speed-upgraded-ab-p"></td>
        <td class="max-speed-upgraded-ab-p"></td>
        <td class="max-speed-upgraded-ab-p"></td>
        <td class="max-speed-upgraded-ab-p"></td>
    </tr>
    <tr>
        <td>maximal speed (stock) (RB)</td>
        <td class="max-speed-stock-rb-p"></td>
        <td class="max-speed-stock-rb-p"></td>
        <td class="max-speed-stock-rb-p"></td>
        <td class="max-speed-stock-rb-p"></td>
    </tr>
    <tr>
        <td>maximal speed (upgraded) (RB)</td>
        <td class="max-speed-upgraded-rb-p"></td>
        <td class="max-speed-upgraded-rb-p"></td>
        <td class="max-speed-upgraded-rb-p"></td>
        <td class="max-speed-upgraded-rb-p"></td>
    </tr>
    <tr>
        <td>maximal altitude</td>
        <td class="max-alt-p"></td>
        <td class="max-alt-p"></td>
        <td class="max-alt-p"></td>
        <td class="max-alt-p"></td>
    </tr>
    <tr>
        <td>turn time (stock) (AB)</td>
        <td class="turn-stock-ab-p"></td>
        <td class="turn-stock-ab-p"></td>
        <td class="turn-stock-ab-p"></td>
        <td class="turn-stock-ab-p"></td>
    </tr>
    <tr>
        <td>turn time (upgraded) (AB)</td>
        <td class="turn-upgraded-ab-p"></td>
        <td class="turn-upgraded-ab-p"></td>
        <td class="turn-upgraded-ab-p"></td>
        <td class="turn-upgraded-ab-p"></td>
    </tr>
    <tr>
        <td>turn time (stock) (RB)</td>
        <td class="turn-stock-rb-p"></td>
        <td class="turn-stock-rb-p"></td>
        <td class="turn-stock-rb-p"></td>
        <td class="turn-stock-rb-p"></td>
    </tr>
    <tr>
        <td>turn time (upgraded) (RB)</td>
        <td class="turn-upgraded-rb-p"></td>
        <td class="turn-upgraded-rb-p"></td>
        <td class="turn-upgraded-rb-p"></td>
        <td class="turn-upgraded-rb-p"></td>
    </tr>
    <tr>
        <td>rate of climb (stock) (AB)</td>
        <td class="roc-stock-ab-p"></td>
        <td class="roc-stock-ab-p"></td>
        <td class="roc-stock-ab-p"></td>
        <td class="roc-stock-ab-p"></td>
    </tr>
    <tr>
        <td>rate of climb (upgraded) (AB)</td>
        <td class="roc-upgraded-ab-p"></td>
        <td class="roc-upgraded-ab-p"></td>
        <td class="roc-upgraded-ab-p"></td>
        <td class="roc-upgraded-ab-p"></td>
    </tr>
    <tr>
        <td>rate of climb (stock) (RB)</td>
        <td class="roc-stock-rb-p"></td>
        <td class="roc-stock-rb-p"></td>
        <td class="roc-stock-rb-p"></td>
        <td class="roc-stock-rb-p"></td>
    </tr>
    <tr>
        <td>rate of climb (upgraded) (RB)</td>
        <td class="roc-upgraded-rb-p"></td>
        <td class="roc-upgraded-rb-p"></td>
        <td class="roc-upgraded-rb-p"></td>
        <td class="roc-upgraded-rb-p"></td>
    </tr>
    <tr>
        <td>take-off run</td>
        <td class="take-off-run-p"></td>
        <td class="take-off-run-p"></td>
        <td class="take-off-run-p"></td>
        <td class="take-off-run-p"></td>
    </tr>
    </table>
</div>
<div class="comparsion-section-wrapper">
    <p class="divider">SPEED OF DESTRUCTION</p>
    <table class="collapsible-table" id="sod-info-table">
    <tr>
        <td>structural</td>
        <td class="sod-structural-p"></td>
        <td class="sod-structural-p"></td>
        <td class="sod-structural-p"></td>
        <td class="sod-structural-p"></td>
    </tr>
    <tr>
        <td>gear</td>
        <td class="sod-gear-p"></td>
        <td class="sod-gear-p"></td>
        <td class="sod-gear-p"></td>
        <td class="sod-gear-p"></td>
    </tr>
    <tr>
        <td>combat flaps</td>
        <td class="sod-combat-flaps-p"></td>
        <td class="sod-combat-flaps-p"></td>
        <td class="sod-combat-flaps-p"></td>
        <td class="sod-combat-flaps-p"></td>
    </tr>
    <tr>
        <td>take-off flaps</td>
        <td class="sod-takeoff-flaps-p"></td>
        <td class="sod-takeoff-flaps-p"></td>
        <td class="sod-takeoff-flaps-p"></td>
        <td class="sod-takeoff-flaps-p"></td>
    </tr>
    <tr>
        <td>landing flaps</td>
        <td class="sod-landing-flaps-p"></td>
        <td class="sod-landing-flaps-p"></td>
        <td class="sod-landing-flaps-p"></td>
        <td class="sod-landing-flaps-p"></td>
    </tr>
    </table>
</div>
<div class="comparsion-section-wrapper">
    <p class="divider">OPTIMAL VELOCITIES</p>
    <table class="collapsible-table" id="ov-info-table">
    <tr>
        <td>ailerons</td>
        <td class="ailerons-p"></td>
        <td class="ailerons-p"></td>
        <td class="ailerons-p"></td>
        <td class="ailerons-p"></td>
    </tr>
    <tr>
        <td>rudder</td>
        <td class="rudder-p"></td>
        <td class="rudder-p"></td>
        <td class="rudder-p"></td>
        <td class="rudder-p"></td>
    </tr>
    <tr>
        <td>elevators</td>
        <td class="elevators-p"></td>
        <td class="elevators-p"></td>
        <td class="elevators-p"></td>
        <td class="elevators-p"></td>
    </tr>
    <tr>
        <td>radiator</td>
        <td class="radiator-p"></td>
        <td class="radiator-p"></td>
        <td class="radiator-p"></td>
        <td class="radiator-p"></td>
    </tr>
    </table>
</div> 
<div class="comparsion-section-wrapper">  
    <p class="divider">FEATURES</p>
    <table class="collapsible-table" id="features-info-table">
    <tr>
        <td>combat flaps</td>
        <td class="combat-flaps-p"></td>
        <td class="combat-flaps-p"></td>
        <td class="combat-flaps-p"></td>
        <td class="combat-flaps-p"></td>
    </tr>
    <tr>
        <td>take-off flaps</td>
        <td class="take-off-flaps-p"></td>
        <td class="take-off-flaps-p"></td>
        <td class="take-off-flaps-p"></td>
        <td class="take-off-flaps-p"></td>
    </tr>
    <tr>
        <td>landing flaps</td>
        <td class="landing-flaps-p"></td>
        <td class="landing-flaps-p"></td>
        <td class="landing-flaps-p"></td>
        <td class="landing-flaps-p"></td>
    </tr>
    <tr>
        <td>modules</td>
        <td class="modules-p"></td>
        <td class="modules-p"></td>
        <td class="modules-p"></td>
        <td class="modules-p"></td>
    </tr>
    </table>
</div>