<p class="image-p comparsion-p"></p>
<p class="name-p comparsion-p"></p>
<p class="tier-p comparsion-p"></p>
<p class="class-p comparsion-p"></p>
<p class="battle-rating-ab-p comparsion-p"></p>
<p class="battle-rating-rb-p comparsion-p"></p>
<p class="battle-rating-sb-p comparsion-p"></p>
<p class="crew-p comparsion-p"></p>
<p class="take-off-weight-p comparsion-p"></p>
<p class="burst-mass-p comparsion-p"></p>
<p class="no-engines-p comparsion-p"></p>
<p class="engine-type-p comparsion-p"></p>
<p class="engine-cooling-type-p comparsion-p"></p>
<p class="engine-name-p comparsion-p"></p>
<p class="is-premium-p comparsion-p"></p>
<p class="research-p comparsion-p"></p>
<p class="purchase-p comparsion-p"></p>
<p class="repair-min-ab-p comparsion-p"></p>
<p class="repair-max-ab-p comparsion-p"></p>
<p class="repair-min-rb-p comparsion-p"></p>
<p class="repair-max-rb-p comparsion-p"></p>
<p class="repair-min-sb-p comparsion-p"></p>
<p class="repair-max-sb-p comparsion-p"></p>
<p class="crew-training-p comparsion-p"></p>
<p class="experts-p comparsion-p"></p>
<p class="aces-p comparsion-p"></p>
<p class="reward-rp-p comparsion-p"></p>
<p class="reward-sl-ab-p comparsion-p"></p>
<p class="reward-sl-rb-p comparsion-p"></p>
<p class="reward-sl-sb-p comparsion-p"></p>
<p class="max-speed-stock-ab-p comparsion-p"></p>
<p class="max-speed-upgraded-ab-p comparsion-p"></p>
<p class="max-speed-stock-rb-p comparsion-p"></p>
<p class="max-speed-upgraded-rb-p comparsion-p"></p>
<p class="max-alt-p comparsion-p"></p>
<p class="turn-stock-ab-p comparsion-p"></p>
<p class="turn-upgraded-ab-p comparsion-p"></p>
<p class="turn-stock-rb-p comparsion-p"></p>
<p class="turn-upgraded-rb-p comparsion-p"></p>
<p class="roc-stock-ab-p comparsion-p"></p>
<p class="roc-upgraded-ab-p comparsion-p"></p>
<p class="roc-stock-rb-p comparsion-p"></p>
<p class="roc-upgraded-rb-p comparsion-p"></p>
<p class="take-off-run-p comparsion-p"></p>
<p class="combat-flaps-p comparsion-p"></p>
<p class="take-off-flaps-p comparsion-p"></p>
<p class="landing-flaps-p comparsion-p"></p>
<p class="air-brakes-p comparsion-p"></p>
<p class="arrestor-gear-p comparsion-p"></p>
<p class="drogue-chute-p comparsion-p"></p>
<p class="radar-warning-receiver-p comparsion-p"></p>
<p class="ballistic-computer-p comparsion-p"></p>
<p class="sod-structural-p comparsion-p"></p>
<p class="sod-gear-p comparsion-p"></p>
<p class="sod-combat-flaps-p comparsion-p"></p>
<p class="sod-takeoff-flaps-p comparsion-p"></p>
<p class="sod-landing-flaps-p comparsion-p"></p>
<p class="ailerons-p comparsion-p"></p>
<p class="rudder-p comparsion-p"></p>
<p class="elevators-p comparsion-p"></p>
<p class="radiator-p comparsion-p"></p>
<p class="modules-p comparsion-p"></p>
<p class="offensive-armament-p comparsion-p"></p>
<p class="defensive-armament-p comparsion-p"></p>
<p class="suspended-armament-p comparsion-p"></p>
